MONGODB_URI=mongodb+srv://nhoxmymap74_db_user:MWiRgEeJGOHD79vU@capstoneproject.o62tptf.mongodb.net/optipackai?retryWrites=true&w=majority&appName=capstoneProject
JWT_SECRET="#123!"
JWT_EXPIRES_IN=3600        
JWT_REFRESH_EXPIRES_IN=604800   
