

# --- Server ---
PORT=3000
CORS_ORIGIN=http://localhost:5173
CLIENT_REDIRECT_CALLBACK=http://localhost:5173/oauth-success

# --- Database  ---
MONGODB_URI=mongodb+srv://optipackai_service:OptiPackAI123@capstoneproject.o62tptf.mongodb.net/optipackai?retryWrites=true&w=majority&appName=capstoneProject

# --- Redis (cache trạng thái auth) ---
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# --- JWT ---
JWT_SECRET="#123!"
JWT_EXPIRES_IN=86400
JWT_REFRESH_EXPIRES_IN=2592000

# --- Google OAuth ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

# --- Email (SMTP) ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=noreply.optipacka@gmail.com
MAIL_PASSWORD=nctfrootkhgeadzi
MAIL_FROM_NAME=OptiPackAI
MAIL_FROM_ADDRESS=noreply.optipacka@gmail.com
FRONTEND_URL=http://localhost:5173
